@page
@model ForgotPasswordModel
@{
    ViewData["Title"] = "Forgot your password?";
}
@section Scripts {
    <script src="https://www.google.com/recaptcha/api.js" async defer></script>
    <partial name="_ValidationScriptsPartial" />
}
<h1>@ViewData["Title"]</h1>
<h4>Enter your email.</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">

            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="form-group">
                <div class="g-recaptcha" data-sitekey="6LcBU_MeAAAAAKtF6wG4oWqUu0A_mrCGNAiwlqpp "></div>
            </div>
            <div class="form-group">
                <label asp-for="Input.Email"></label>
                <input asp-for="Input.Email" class="form-control" />
                <span asp-validation-for="Input.Email" class="text-danger"></span>
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    </div>
</div>
<script src="https://www.google.com/recaptcha/enterprise.js?render=6Leo8vMeAAAAAJWcNyM04OcTHGG1tJOr75-7hRxU"></script>
<script>
    grecaptcha.enterprise.ready(function () {
        grecaptcha.enterprise.execute('6Leo8vMeAAAAAJWcNyM04OcTHGG1tJOr75-7hRxU', { action: 'login' }).then(function (token) {
       ...
    });
});
</script>